body {
	background-color: #193066;
}

.container {
	background-color: white;
}

html,body,.container {
	height: 100%;
}

#logo {
	margin-top: 10px;
}

#bottomlogo {
	margin-top: -15px;
}

#postionbt {
	position: relative;
	left: 840px;
	top: 80px;
}

#margintext {
	margin-top: 25px;
}

#marginbt {
	margin-top: 10px;
}

footer.container /* hereee */ {
	position: relative;
	margin-top: -60px; /* negative value of footer height */
	height: 60px;
	clear: both;
	padding-top: 20px;
	background-color: #CCCCCC;
}

#hero {
	margin-top: 100px;
}

#accordion {
	height: auto !important;
	display: inline;
	height: 50%;
	border-right: 3px inset;
}

#border {
	height: 60%;
	border-right: 3px inset;
}

#loggedinastext {
	margin-top: -20px;
	margin-left: 5px;
	border-bottom: 3px inset;
}

.table-striped tbody tr:nth-child(odd) th {
	/* header color for tables (change if necessary) */
	background-color: #428bca;
}

.table-striped tbody tr:nth-child(odd) td {
	/* alternating row color for tables (change if necessary) */
	background-color: #A3C6E5;
}

#banner {
	margin-left: 25px;
}

.twitter-timeline {
	clear: both;
	position: relative;
	top: 30px;
}

#main {
	overflow: auto;
	padding-bottom: 60px; /* this needs to be bigger than footer height*/
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

.tt-hint {
  color: #D3D3D3;
}

.tt-dropdown-menu {
  max-height: 200px;
  width: 250px;
  overflow-y: auto;
  text-align: left;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #FFFFFF;
  border: 1px solid #ccc;
}

.tt-suggestion {
  padding: 2px 10px;
}

.tt-suggestion p {
  margin: 0;
}